<div id="header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="col-auto">
                        <img src="img/logo-navbar.png" alt="">
                    </div>
                    <div class="col">
                        <a href="#"><img src="img/icon-menu.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex">
                    <div class="search">
                        <input type="text" placeholder="Search" class="search-input">
                        <button type="button" class="btn-search">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex">
                    <div class="account">
                        <a href="#"><img src="img/account-u.png" alt="">&emsp;Unis Badri</a>
                        <a href="#"><i class="fa-solid fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>