<div id="side-menu">
    <div class="main-nav">
        <div class="main-nav__item">
            <img src="img/logo_sidebar.png" alt="">
        </div>
        <div class="main-nav__item">
            <a href="http://localhost:1500/dashboard"><img src="img/icon-dashboard.png" alt=""><p>Dashboard</p></a>
            
        </div>
        <div class="main-nav__item">
            <a href="http://localhost:1500/listcar"><img src="img/icon-truck.png" alt=""><p>Cars</p></a>
        </div>
    </div>
</div>