<div class="btn-group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">All</button>
    <button type="button" class="btn btn-outline-primary">Small</button>
    <button type="button" class="btn btn-outline-primary">Medium</button>
    <button type="button" class="btn btn-outline-primary">Large</button>
</div>