<% cars.forEach(function(cars) { %>
<div class="list-item">
    <img src="img/car.png">
    <h5 class="title"><%= cars.name %></h5>
    <p class="text"><%= cars.price %></p>
    <p class="card-text"><img src="img/icon-key.png" alt=""><%= cars.startFinish %></p>
    <p class="card-text"><img src="img/icon-clock.png" alt="">Update at <%= cars.updatedAt %></p>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>
    <a href="http://localhost:1500/editcar"><button type="button" id="btn-edit" class="btn btn-success">Edit</button></a>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">Data Berhasil Dihapus</div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
</div>
<% }); %>